<div class="container">
<br>



  <%= simple_form_for @order, url: product_orders_path(@product), method: :post do |form| %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <%= form.hidden_field :total_price, value: @product.price %>


  <div class="product-table table-responsive">
    <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Nome do Produto</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag rails_blob_path(@product.photos.first, disposition: "attachment"), class: "resized-image" %></td>
          <td><%= @product.name %></td>
          <td><%= number_to_currency(@product.price) %></td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="form-actions">
      <%= form.button :submit, "Finalizar Compra", class: "btn btn-comprar mt-3 mb-2" %>
    </div>
  <% end %>
  <%= link_to "Voltar ao Produto", product_path(@product), class: "btn-voltar-product" %>

</div>
