<h1>Novo Produto</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <div>
    <%= form.label :name, "Nome do produto:" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, "Preço" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :reason, "Motivo da venda:" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.label :status, "Estado do Produto:" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :withdrawal, "Retirada do Produto:" %>
    <%= form.text_field :withdrawal %>
  </div>

  <div>
    <%= form.submit "Carregar Imagens" %>
    <%= form.submit "Enviar Formulário" %>
  </div>
<% end %>
