<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-6 pt-5">
      <h6>PARCERIAS E INFORMAÇÕES</h6>
      <h1 class="mb-4">Estamos aqui para te ajudar</h1>
      <p>Para proposta de parceria e sugestões de melhoria na plataforma, basta utilizar esse canal de contato. Por favor, seja o mais objetivo possível e deixe suas informações de contato. Em até 48h entraremos em contato propondo uma solução para o seu problema.</p>
    </div>

    <div class="col-12 col-lg-6 pt-5">
      <%= form_with(model: @contact_form, local: true, class: "form-group") do |form| %>
        <div class="mb-3">
          <%= form.label :product_and_seller_name, "Nome do produto e do Vendedor:", class: "form-label" %>
          <%= form.text_field :product_and_seller_name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :problem_description, "Descreve o seu problema:", class: "form-label" %>
          <%= form.text_area :problem_description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :seller_phone, "Telefone do Vendedor:", class: "form-label" %>
          <%= form.text_field :seller_phone, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :seller_email, "E-mail do Vendedor:", class: "form-label" %>
          <%= form.email_field :seller_email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :seller_phone, "Seu telefone:", class: "form-label" %>
          <%= form.text_field :seller_phone, class: "form-control" %>
        </div>

        <div class="d-grid gap-2">
          <%= form.submit "ENVIAR FORMULÁRIO", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
