<div class="container pt-5">
  <h2>Editar produto</h2>
  <br>

  <%= simple_form_for @product do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, label: "Nome do Produto", input_html: { class: "backgroud-input" } %>
      <%= f.input :price, label: "Preço", input_html: { class: "backgroud-input" } %>
      <%= f.input :description, label: "Descrição", input_html: { class: "backgroud-input" } %>

      <!-- Contêiner de fotos -->
      <div id="photos-container-edit" class="form-inputs">
        <%= f.input :photos, as: :file, label: "Envie suas imagens no botão abaixo:", input_html: { accept: "image/*", multiple: true, class: "backgroud-input" }, wrapper_html: { class: "border-2" } %>
      </div>

      <!-- Botão para adicionar fotos -->
      <button type="button" id="add-photo-field-edit" class="btn-new-product">Adicionar Outra Foto</button>
      <br>
      <br>
      <div class="form-actions">
        <%= f.submit "Editar Produto", class: "btn-new-product" %>
      </div>
    <% end %>
  </div>
