<div class="container mb-5 mt-5">
  <% if user_signed_in? %>


    <%= link_to new_product_path, class: "btn-register" do %>
      <strong>ANUNCIE O SEU PRODUTO</strong>
    <% end %>

    <%= link_to orders_path, class: "btn-indexproduct ms-2" do %>
      <strong>MINHA LISTA DE COMPRAS</strong>
    <% end %>

  <% end %>

  <h6 class="mt-5">AJUDE NO DESAPEGO</h6>
  <h2 class="mb-5">Escolha o item que você está precisando na sua casa:</h2>

  <div class="row">
    <% @products.each_slice(4) do |products_slice| %>
      <% products_slice.each do |product| %>
        <div class="col-12 col-sm-6 col-md-4 p-2">
          <div class="product-card">
            <% if product.photos.attached? %>
              <%= image_tag rails_blob_path(product.photos.first, disposition: "attachment"), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title mb-0"><%= product.name %></h5>
              <%= link_to number_to_currency(product.price), product_path(product), class: "btn btn-custom" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
