<div class="container pt-5">
  <h2>Criar um Produto</h2>
  <br>
  <%= simple_form_for(@product, html: { multipart: true }) do |f| %>
    <%= f.input :name, label:"Nome do Produto", input_html: { class: "border-green" }%>
    <%= f.input :price, label:"Preço", input_html: { class: "border-green" } %>
    <%= f.input :description, label:"Descrição", input_html: { class: "border-green" } %>


    <div id="photos-container">
      <div class="photo-field">
        <%= f.input :photos, as: :file, label:"Envie suas imagens no botão abaixo:", input_html: { accept: "image/*", multiple: true, class: "input-photo" }, wrapper_html: {class: "border-2"} %>
      </div>
    </div>

    <button type="button" id="add-photo-field" class="btn-new-product">Adicionar Outra Foto</button>

    <%= simple_form_for(@product) do |f| %>
      <%= f.submit "Criar Produto", class: "btn-new-product" %>
    <% end %>
  <% end %>
</div>
