<h2>Detalhes do Produto</h2>
<div class="d-flex">
  <div class="col-8">

    <% if @product.photos.attached? %>
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, style: "object-fit: cover;" %>
      <% end %>
      <% else %>
        <p>Nenhuma foto disponível.</p>
      <% end %>
    <br>

  </div>

  <div class="col-4">
    <h7>ELETRÔNICO</h7>
    <h2><%= @product.name %></h2>
    <p><%= number_to_currency(@product.price) %></p>
    
    <p>Descrição:</p>
    <p><%= @product.description %></p>

    <% if user_signed_in? %>
      <% if @already_purchased %>
        <%= button_tag "Comprar", class: "btn-comprar", disabled: true %>
      <% else %>
        <%= link_to "Comprar", new_product_order_path(@product), class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Comprar", new_product_order_path(@product), class: "btn btn-primary" %>
    <% end %>

    <br>

    <h5>Sua experiência</h5>

    <%= simple_form_for([:create, Review.new], url: product_reviews_path(@product)) do |form| %>
      <%= form.input :comment, as: :text, rows: 5, label: "Descreva como foi sua negociação com o vendedor" %>
      <div class="form-actions">
        <%= form.button :submit, "Enviar Avaliação", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="reviews">
      <% @product.reviews.each do |review| %>
        <div class="review">
          <strong><%= review.user.email %></strong>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    </div>
    <br>

    <%= link_to "Editar", edit_product_path(@product), class: "btn btn-secondary" %>
    <%= link_to "Voltar", products_path, class: "btn btn-secondary" %>
    <%= link_to "Excluir", product_path(@product),
                data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este produto?" },
                class: "btn btn-danger" %>
  </div>
</div>
