<h2>show page</h2>

<h2><%= @product.name %></h2>
<p><%= @product.price %></p>
<p><%= @product.quantity %></p>

<% if @product.photo.attached? %>
  <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<%= link_to "Comprar", new_product_order_path(@product), class: "btn btn-primary" %>
<br>
<h2>Avaliações</h2>

<%= simple_form_for([:create, Review.new], url: product_reviews_path(@product)) do |form| %>
  <%= form.input :comment, as: :text, rows: 5, label: "Seu comentário" %>
  <div class="form-actions">
    <%= form.button :submit, "Enviar Avaliação", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="reviews">
  <% @product.reviews.each do |review| %>
    <div class="review">
      <strong><%= review.user.email %></strong>
      <p><%= review.comment %></p>
    </div>
  <% end %>
</div>
<br>
<%= link_to "Editar", edit_product_path(@product) %>
<%= link_to "Voltar", products_path %>
<%= link_to "Excluir", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir este produto?" } %>
